.top{
    margin-left: 20px;
    display:flex;
    row-gap: 30px;
    column-gap:5%;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8%;
    height: 100vh;
    background-color: #f1f1f1;
}
#quote{
    font-size: 30px;
    font-weight: bolder;
    
}
h2.h2{
    font-size: 30px;
    font-weight: lighter
}
.button{
    display: flex;
    column-gap:40px;
    margin-top: 40px;
    margin-left: 80px;
}
#b1{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #E90000;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
#b2{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #E90000;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
h1{
    color:#E90000;
    font-family: "Times New Roman", Times, serif;
}
#a7{
    width: 100%;
    background-color: #E90000;
    border-radius: 30px;
    margin-right:20px;
}
#a1{
    margin-right: 200px;
    margin-left: 20px;
}
.footer{
    justify-content: center;
    size: 30px;
    font-weight: bolder;
    margin-top:30px;
    margin-left: 650px;
}